<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android" package="com.hpodong.hybird">

    <!-- PG사 세팅 -->
    <!--<queries>
        <package android:name="com.kakao.talk" /> &lt;!&ndash; 카카오톡 &ndash;&gt;
        <package android:name="com.nhn.android.search" /> &lt;!&ndash; 네이버페이 &ndash;&gt;
        <package android:name="com.samsung.android.spay" /> &lt;!&ndash; 삼성페이 &ndash;&gt;
        <package android:name="net.ib.android.smcard" /> &lt;!&ndash; 모니모페이 &ndash;&gt;
        <package android:name="com.mobiletoong.travelwallet" /> &lt;!&ndash; 신한카드 트레블월렛 &ndash;&gt;
        <package android:name="com.samsung.android.spaylite" /> &lt;!&ndash; 삼성페이 &ndash;&gt;
        <package android:name="com.ssg.serviceapp.android.egiftcertificate" /> &lt;!&ndash; SSGPAY &ndash;&gt;
        <package android:name="com.nhnent.payapp" /> &lt;!&ndash; PAYCO &ndash;&gt;
        <package android:name="com.lottemembers.android" /> &lt;!&ndash; L.POINT &ndash;&gt;
        <package android:name="viva.republica.toss" /> &lt;!&ndash; 토스&ndash;&gt;
        <package android:name="com.shinhan.smartcaremgr" /> &lt;!&ndash; 신한 슈퍼SOL &ndash;&gt;
        <package android:name="com.shcard.smartpay" /> &lt;!&ndash; 신한페이판 &ndash;&gt;
        <package android:name="com.shinhancard.smartshinhan" /> &lt;!&ndash; 신한페이판-공동인증서 &ndash;&gt;
        <package android:name="com.hyundaicard.appcard" /> &lt;!&ndash; 현대카드 &ndash;&gt;
        <package android:name="com.lumensoft.touchenappfree" /> &lt;!&ndash; 현대카드-공동인증서 &ndash;&gt;
        <package android:name="kr.co.samsungcard.mpocket" /> &lt;!&ndash; 삼성카드 &ndash;&gt;
        <package android:name="nh.smart.nhallonepay" /> &lt;!&ndash; 올원페이 &ndash;&gt;
        <package android:name="com.kbcard.cxh.appcard" /> &lt;!&ndash; KB Pay &ndash;&gt;
        <package android:name="com.kbstar.liivbank" /> &lt;!&ndash; Liiv(KB국민은행) &ndash;&gt;
        <package android:name="com.kbstar.reboot" /> &lt;!&ndash; Liiv Reboot(KB국민은행) &ndash;&gt;
        <package android:name="com.kbstar.kbbank" /> &lt;!&ndash; 스타뱅킹(KB국민은행) &ndash;&gt;
        <package android:name="kvp.jjy.MispAndroid320" /> &lt;!&ndash; ISP/페이북 &ndash;&gt;
        <package android:name="com.lcacApp" /> &lt;!&ndash; 롯데카드 &ndash;&gt;
        <package android:name="com.hanaskcard.paycla" /> &lt;!&ndash; 하나카드 &ndash;&gt;
        <package android:name="com.hanaskcard.rocomo.potal" />  &lt;!&ndash;하나카드&ndash;&gt;
        <package android:name="kr.co.hanamembers.hmscustomer" /> &lt;!&ndash; 하나멤버스 &ndash;&gt;
        <package android:name="kr.co.citibank.citimobile" /> &lt;!&ndash; 씨티모바일 &ndash;&gt;
        <package android:name="com.wooricard.wpay" /> &lt;!&ndash; 우리페이 &ndash;&gt;
        <package android:name="com.wooricard.smartapp" /> &lt;!&ndash; 우리카드 &ndash;&gt;
        <package android:name="com.wooribank.smart.npib" /> &lt;!&ndash; 우리WON뱅킹 &ndash;&gt;
        <package android:name="com.lguplus.paynow" /> &lt;!&ndash; 페이나우 &ndash;&gt;
        <package android:name="com.kftc.bankpay.android" /> &lt;!&ndash; 뱅크페이 &ndash;&gt;
        <package android:name="com.TouchEn.mVaccine.webs" /> &lt;!&ndash; TouchEn mVaccine (신한) &ndash;&gt;
        <package android:name="kr.co.shiftworks.vguardweb" /> &lt;!&ndash; V-Guard (삼성) &ndash;&gt;
        <package android:name="com.ahnlab.v3mobileplus" /> &lt;!&ndash; V3 (NH, 현대) &ndash;&gt;
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>-->

    <!-- 정밀한 위치 (GPS & 네트워크) -->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    &lt;!&ndash; 대략적인 위치 (Wi-Fi & 네트워크) &ndash;&gt;
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    &lt;!&ndash; 백그라운드 위치 권한 (Android 10 이상 필요) &ndash;&gt;
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->

    <!--인터넷 액세스 허용-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--파일 읽기 엑세스 허용-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--파일 쓰기 액세스 허용-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--파일 액세스 허용-->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!--오디오 읽기 액세스 허용-->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!--이미지 읽기 액세스 허용-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!--비디오 읽기 액세스 허용-->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!--카메라 액세스 허용-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--파일 위치 액세스 허용-->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <!--진동 액세스 허용-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--화면 깨우기 액세스 허용-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--백그라운드 부팅 엑세스 액세스 허용-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--오디오 기록 액세스 허용-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--네트워크 상태 엑세스 허용-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIDEO_CAPTURE" />
    <uses-permission android:name="android.permission.AUDIO_CAPTURE" />-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- 앱 뱃지 -->
    <!-- Samsung -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>

    <!-- HTC -->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>

    <!-- Sony -->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>

    <!-- Apex -->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>

    <!-- Solid -->
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>

    <!-- Huawei -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />

    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="${APP_NAME}"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!--카카오 공유하기-->
            <!--<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="kakaolink" android:scheme="kakao${KAKAO_NATIVE_APP_KEY}" />
            </intent-filter>-->
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!--파이어베이스 메세지 아이콘-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--파이어베이스 기본 알림 채널-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_notifications" />
        <!--파일 다운로드-->
        <provider
                android:name="com.pichillilorenzo.flutter_inappwebview_android.InAppWebViewFileProvider"
                android:authorities="${applicationId}.flutter_inappwebview_android.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths" />
        </provider>
        <!-- 애플 로그인 -->
        <!--<activity
                android:name="com.aboutyou.dart_packages.sign_in_with_apple.SignInWithAppleCallback"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="signinwithapple" />
                <data android:path="callback" />
            </intent-filter>
        </activity>-->

        <!-- 카카오 로그인 -->
        <!--<activity
                android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
                android:exported="true">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="kakao${KAKAO_NATIVE_APP_KEY}" android:host="oauth"/>
            </intent-filter>
        </activity>-->

        <!-- 네이버 로그인 -->
        <!--<meta-data
                android:name="com.naver.sdk.clientId"
                android:value="${NAVER_CLIENT_ID}" />
        <meta-data
                android:name="com.naver.sdk.clientSecret"
                android:value="${NAVER_SECRET}" />
        <meta-data
                android:name="com.naver.sdk.clientName"
                android:value="${NAVER_CLIENT_NAME}" />
        <meta-data
                android:name="com.kakao.sdk.AppKey"
                android:value="${KAKAO_NATIVE_APP_KEY}" />-->
    </application>
</manifest>
